<div class="col-md-6 offset-sm-3">
  <h3>Actualizar Usuario</h3>
  <hr>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Username</label>
      <input type="text" class="form-control" id="userName" required [(ngModel)]="usuario.username" name="userName">
    </div>

    <div class="form-group">
      <label for="name">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="usuario.password" name="password">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="usuario.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">LastName</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="usuario.lastName" name="lastName">
    </div>

    <button type="submit" class="btn btn-success col-md-6 offset-sm-3">Editar</button>
  </form>
</div>